*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium';
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    flex-wrap: wrap;
    background: #1d1e20;
}

a {
    color: #ed8b00;
}

.menu{
    display: flex;
}

  .menu li{
    margin-left: 10px;
}

.menu a{
    display: block;
    padding: 10px;
  }

.home{
    background-image: url(../img/imgCapa.jpg);
    background-size: cover;
}

  .fundo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 800px;
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(000,0,0,1)); 
  }

  .fundo div{
    display: grid;
    justify-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .fundo h1{
    font-weight: bold;
    font-size: 80px;
    color: white;
}

.fundo h3{
    color: white;
    font-size: 40px;
    padding: 20px;
    font-weight: lighter;
  }

.fundo button {
  background-color: #ed8b00;
  border: none;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  color: #fff;
  cursor: pointer;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.fundo button:hover,
.fundo button:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.fundo button:hover {
  transform: translateY(-2px);
}

.fundo button:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, 0.6) 0 2px 4px;
  transform: translateY(0);
}

.conteudo1{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin-top: 100px;
    width: 100%;
    height: 500px;

}

.conteudo1 .div1{
    /* background-color: tomato; */
    width: 30%;
    margin-right: 30px;

}
.conteudo1 .div2{
    /* background-color: tomato; */
    width: 50%;
    font-weight: lighter;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.conteudo1 .div1 p{
    font-size: 20px;
    margin-bottom: 20px;
}

.conteudo1 .div1 h1{
    font-size: 70px;
    font-family: "Bebas Neue", system-ui;
    font-weight: 400;
    font-style: normal;
    border-bottom: solid 5px #ed8b00;
    padding-bottom: 20px;
}

.conteudo1 .div2 .primeiro{
    margin-bottom: 20px;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 35px;
    font-weight: bold;
}
.conteudo1 .div2 p{
    margin-bottom: 20px;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 35px;
    font-weight: lighter;
}